/* Bulma Overwrites */

.navbar-item img {
    max-height: 6rem;
}

a.navbar-item,
.navbar-link,
.title {
    color: #3f3f57;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
}

a.navbar-item:hover,
.navbar-link:hover,
.navbar.is-transparent .navbar-dropdown a.navbar-item:hover,
a.navbar-item:focus,
a.navbar-item:focus-within {
    color: #0a0a0a;
}

.navbar-dropdown .navbar-item {
    font-weight: 400;
    font-size: 1rem;
}

.title {
    font-size: 3rem;
}

.is-primary,
.tag:not(body).is-primary,
.button.is-primary {
    background-color: #5E61ED;
    letter-spacing: 1.5px;
}

.button.is-primary:hover,
.button.is-primary:active,
.button.is-primary:focus {
    background-color: #afb8ec;
}

.has-text-weight-semibold {
    letter-spacing: 1.5px;
}

.timeline .timeline-item .timeline-marker {
    background: #ed825e;
    border-color: #ed825e;
}

.timeline .timeline-item .timeline-marker.is-icon {
    background: transparent;
    border: none;
    color: #edc95e;
    font-size: 20px;
}

.heading {
    font-weight: 600;
    font-size: 12px;
}

.input:active,
.input:focus,
.is-active.input,
.is-active.textarea,
.is-focused.input,
.is-focused.textarea,
.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus,
.textarea:active,
.textarea:focus {
    border-color: #5E61ED;
    box-shadow: 0 0 0 .125 rgba(94, 97, 237, alpha)
}

.control.has-icons-left .input:focus~.icon,
.control.has-icons-left .select:focus~.icon {
    color: #3f3f57;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #5E61ED;
}

.select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: #afb8ec;
}


/* Elements  */

body,
button,
input,
select,
textarea {
    color: #3f3f57;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #5E61ED;
}

a:hover {
    color: #afb8ec;
}


/* Global */

.page,
 :target~.default {
    display: none;
}

.default,
 :target {
    display: block;
}

.header {
    border-bottom: 5px solid #5E61ED;
}

#goToTop {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #edc95e;
}

#goToTop:hover {
    color: #f1db90;
}

.slide {
    position: relative;
    left: -1000px;
    -webkit-animation: slide .5s forwards;
    -webkit-animation-delay: .5s;
    animation: slide .5s forwards;
    animation-delay: .5s;
}


/* About */

#about {
    background: linear-gradient( #afb8ec, #fff 5%);
    width: 100%;
    background-size: cover;
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

.intro,
.skills,
.technologies {
    padding-bottom: 3rem;
    border-bottom: 1px solid #dbdbdb;
}

.is-300x300 {
    height: 300px;
    width: 300px;
}

.portrait {
    border: solid 5px #fff;
}

.table th {
    vertical-align: middle;
}

.table p {
    text-align: right;
}

.table .table-heading {
    text-align: left;
}

.table td,
.table th {
    border: none;
}

.table td:not(:first-child) {
    padding: 30px 0;
}

.table .measurement {
    text-align: left;
}

.progress::-webkit-progress-value {
    background-color: #ed825e;
}

.progress::-moz-progress-bar {
    background-color: #ed825e;
}

.progress::-ms-fill {
    background-color: #ed825e;
}


/* Contact */

.contact-icon {
    color: #edc95e;
}