/* Bulma Overwrites */

a.navbar-item,
.navbar-link,
.title {
    color: #3f3f57;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
}

a.navbar-item:hover,
.navbar-link:hover {
    text-decoration: underline;
    color: #3f3f57;
}

.navbar-dropdown .navbar-item {
    font-weight: 500;
    font-size: 16px;
}

.title {
    font-size: 36px;
}

.is-primary,
.tag:not(body).is-primary {
    background-color: #a5a6f7;
}

.timeline .timeline-item .timeline-marker {
    background: #f7cea5;
    border-color: #f7cea5;
}


/* Elements  */

body {
    height: 100vh;
    color: #3f3f57;
    font-family: 'Poppins', sans-serif;
}


/* Global */

.page,
 :target~.default {
    display: none;
}

.default,
 :target {
    display: block;
}

.header {
    border-bottom: 5px solid #a5a6f7;
}


/* About */

#about {
    background: linear-gradient( #a5a6f7, #fff 30%);
    width: 100%;
    background-size: cover;
}

.is-300x300 {
    height: 300px;
    width: 300px;
}

.portrait {
    border: 5px solid #fffcf7;
}