// Colors
$blue-chill: #0a7874;
$rose-bud-cherry: #8c0b4e;
$buttered-rum: #c2940b;
$fiord: #434863;
$ghost: #BFC1CF;
$waterloo: #757A99;
$fountain-blue: #58b8bf;
$whisper: #F1F2F8;
// Variables
$primary: $blue-chill;
$primary-light: $fountain-blue;
$secondary: $rose-bud-cherry;
$accent: $buttered-rum;
$white: $whisper;
$border: $ghost;
$text: $fiord;
$text-light: $waterloo;
$link: $primary;
$link-hover: $primary-light;
$link-focus: $primary-light;
$family-primary: 'Poppins';