// Colors
$blue-chill: #0a7874;
$rose-bud-cherry: #8c0b4e;
$buttered-rum: #c2940b;
$gun-powder: #3f3f57;
$mercury: #e6e6e6;
$steel-gray: #282831;
$fountain-blue: #58b8bf;
$white: #fff;
// Variables
$primary: $blue-chill;
$primary-light: $fountain-blue;
$border: $mercury;
$text: $gun-powder;
$text-strong: $steel-gray;
$link: $primary;
$link-hover: $primary-light;
$link-focus: $primary-light;
$family-primary: 'Poppins';